<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LDAPLibrary" restartOnExternalChanges="false" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <LDAPLibrary configSource="UP_WS_CONFIG\LDAPLibrary.config">
  </LDAPLibrary>
  <appSettings>
    <add key="writePermissions" value="true"/>
  </appSettings>
  <startup>
  
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
