<LDAPLibrary>
  <add key="LDAPServer" value="ldap-cas.si.unimib.it:389" />
  <!-- "127.0.0.1:389" OpenLDAP local
  "192.168.10.33:389" Active Directory
  "ldap.testathon.net:389" Public LDAP Server-->

  <!--
  REQUIRED: see this page for the correct value
  http://msdn.microsoft.com/it-it/library/system.directoryservices.protocols.authtype(v=vs.110).aspx

  it set the authentication type of the LDAPConnection
-->
<add key="LDAPAuthType" value="Basic" />

<!-- "cn=Manager,dc=maxcrc,dc=com" OpenLDAP local
"cn=Administrator,cn=users,dc=apex-net,dc=it" Active Directory
"cn=stuart,OU=users,DC=testathon,DC=net" Public LDAP Server -->
<add key="LDAPAdminUserDN" value="cn=ldapreader,ou=servizi,dc=unimib,dc=it" />

<!-- "Manager" OpenLDAP local
"Administrator" Active Directory
"stuart" Public LDAP Server -->
<add key="LDAPAdminUserCN" value="ldapreader" />

<!-- "lewis" Public LDAP Server-->
<add key="LDAPAdminUserSN" value="sn" />

<!-- "secret" OpenLDAP local
"apice" Active Directory
"stuart" Public LDAP Server-->
<!-- Password of the admin -->
<add key="LDAPAdminUserPassword" value="" />


<!-- "person" OpenLDAP Local
"inetOrgPerson" Public LDAP Server-->
<!-- The attribute ObjectClass used to indentify an user -->
<add key="LDAPUserObjectClass" value="inetorgPerson" />

<!-- Field used in search filter to know what is the LDAP attribute to match with username -->
<add key="LDAPMatchFieldUsername" value="uid" />

<!-- "o=ApexNet,ou=People,dc=maxcrc,dc=com" OpenLDAP local
"ou=Users,DC=testathon,DC=net" PublicLDAP Server
"OU=Test LDAP,OU=Apex,dc=apex-net,dc=it" Active Directory -->
<!-- Where the Search&Connect method start to search the users-->
<add key="LDAPSearchBaseDN" value="ou=users,dc=unimib,dc=it" />


<!-- Log file attributes -->
<add key="enableLDAPLibraryLog" value="File" />

<add key="LDAPLibraryLogPath" value="C:\work\LDAPLibrary\Log" />

<!-- Specify if establish the connection through SecureSocketLayer -->
<add key="secureSocketLayerFlag" value="false" />
<!-- Specify if establish the connection through TransportSocketLayer -->
<add key="transportSocketLayerFlag" value="false" />
<!-- Specify if establish the connection through ClientCertification -->
<add key="ClientCertificationFlag" value="false" />
<!-- Specify where is the CA to use -->
<add key="clientCertificatePath" value="null" />
<add key="ClientSettingsProvider.ServiceUri" value="" />
</LDAPLibrary>
