<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    <add key="LDAPServer" value="ldap.uniud.it:389" />
    <!-- "127.0.0.1:389" OpenLDAP local 
       "192.168.10.33:389" Active Directory
       "ldap.testathon.net:389" Public LDAP Server-->
    
    <add key="LDAPServerDomain" value="" />


    <!-- "cn=Manager,dc=maxcrc,dc=com" OpenLDAP local
       "cn=Administrator,cn=users,dc=apex-net,dc=it" Active Directory 
       "cn=stuart,OU=users,DC=testathon,DC=net" Public LDAP Server -->
    <add key="LDAPAdminUserDN" value="cn=university-planner,ou=utenti,ou=authenticators,ou=applications,dc=uniud,dc=it" />
   
    <!-- "Manager" OpenLDAP local
       "Administrator" Active Directory 
       "stuart" Public LDAP Server -->
    <add key="LDAPAdminUserCN" value="university-planner" />
    
    <!-- "lewis" Public LDAP Server-->
    <add key="LDAPAdminUserSN" value="Marcolongo" />

    <!-- "secret" OpenLDAP local
       "apice" Active Directory
       "stuart" Public LDAP Server-->
    <!-- Password of the admin -->
    <add key="LDAPAdminUserPassword" value="Ithu8heifootevee" />


    <!-- "person" OpenLDAP Local
        "inetOrgPerson" Public LDAP Server-->
    <!-- The attribute ObjectClass used to indentify an user -->
    <add key="LDAPUserObjectClass" value="inetOrgPerson" />
    
    <!-- Field used in search filter to know what is the LDAP attribute to match with username -->
    <add key="LDAPMatchFieldUsername" value="uid" />

    <!-- "o=ApexNet,ou=People,dc=maxcrc,dc=com" OpenLDAP local
        "ou=Users,DC=testathon,DC=net" PublicLDAP Server
        "OU=Test LDAP,OU=Apex,dc=apex-net,dc=it" Active Directory -->
    <!-- Where the Search&Connect method start to search the users-->
    <add key="LDAPSearchBaseDN" value="ou=utenti,dc=uniud,dc=it" />


    <!-- Log file attributes -->
    <add key="enableLDAPLibraryLog" value="true" />
    <add key="LDAPLibraryLogPath" value="C:\work\Progetti Locali\LDAPLibrary\Log" />
    <!-- Specify if establish the connection through SecureSocketLayer -->
    <add key="secureSocketLayerFlag" value="false" />
    <!-- Specify if establish the connection through TransportSocketLayer -->
    <add key="transportSocketLayerFlag" value="true" />
    <!-- Specify if establish the connection through ClientCertification -->
    <add key="ClientCertificationFlag" value="true" />
    <!-- Specify where is the CA to use -->
    <add key="clientCertificatePath" value="C:\Users\e.benini\Desktop\Certificati UDINE LDAP\Terena-chain.pem" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>