<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


  <appSettings>
    <add key="LDAPServer" value="ldap.testathon.net:389"/> <!-- "127.0.0.1:389" OpenLDAP "192.168.10.33:389" Active Directory-->
    <add key="LDAPServerDomain" value="" />
    <add key="LDAPBaseDN" value="DC=testathon,DC=net" /> <!-- "dc=maxcrc,dc=com" OpenLDAP "dc=apex-net,dc=it" Active Directory -->


    <!-- required for the LDAPUser class but not used for connection-->
    <add key="LDAPAdminUserDN" value="cn=stuart,OU=users,DC=testathon,DC=net" />  
    <!-- "cn=Manager,dc=maxcrc,dc=com" OpenLDAP "cn=Administrator,cn=users,dc=apex-net,dc=it" Active Directory -->

    <add key="LDAPAdminUserCN" value="stuart" /> <!-- "Manager" OpenLDAP "Administrator" Active Directory -->
    <add key="LDAPAdminUserSN" value="lewis " />

    <!-- Password of the admin -->
    <add key="LDAPAdminUserPassword" value="stuart" /> <!-- "secret" OpenLDAP "apice" Active Directory-->
    <!-- The attribute ObjectClass used to indentify an user -->
    <add key="LDAPUserObjectClass" value="inetOrgPerson"/>
    <!-- Field used in search filter to what is the LDAP attribute to match with username -->
    <add key="LDAPMatchFieldUsername" value="cn"/>

    
    <add key="enableLDAPLibraryLog" value="false"/>
    <add key="LDAPLibraryLogPath" value="~\Log\"/>
  </appSettings>
</configuration>