<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


  <appSettings>
    <add key="LDAPServer" value="ldap.testathon.net:389"/> <!-- "127.0.0.1:389" OpenLDAP "192.168.10.33:389" Active Directory-->
    <add key="LDAPServerDomain" value="" />
    <add key="LDAPBaseDN" value="DC=testathon,DC=net" /> <!-- "dc=maxcrc,dc=com" OpenLDAP "dc=apex-net,dc=it" Active Directory -->


    <add key="LDAPLoginUserCN" value="stuart" /> <!-- "Manager" OpenLDAP "Administrator" Active Directory -->
    <add key="LDAPLoginUserSN" value="lewis " />
    <!-- required for the LDAPUser class but not used for connection-->
    <add key="LDAPLoginUserDN" value="cn=stuart,OU=users,DC=testathon,DC=net" /> <!-- "cn=Manager,dc=maxcrc,dc=com" OpenLDAP "cn=Administrator,cn=users,dc=apex-net,dc=it" Active Directory -->
    <!--
      Non cambiare il suffisso "LDAPLoginUserAttribute_" perchè viene fatto un substring per ottenere il valore finale e distinguerlo da altri.
      IMPORTANTE: il nome dopo il suffisso deve essere uguale all'attributo in OpenLDAP o ActiveDirectory     
    -->
    <add key="LDAPLoginUserAttribute_userPassword" value="stuart" /> <!-- "secret" OpenLDAP "apice" Active Directory-->

    <add key="LDAPUserObjectClass" value="inetOrgPerson"/>

    
    <add key="enableLDAPLibraryLog" value="false"/>
    <add key="LDAPLibraryLogPath" value="~\Log\"/>
  </appSettings>
</configuration>