<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <add key="LDAPServer" value="127.0.0.1:389" />
  <add key="LDAPServerDomain" value="" />
  <add key="LDAPBaseDN" value="dc=maxcrc, dc=com" />
  
  
  <add key="LDAPLoginUserCN" value="Manager" />
  <add key="LDAPLoginUserSN" value="admin" /> <!-- required for the LDAPUser class but not used for connection-->
  <add key="LDAPLoginUserDN" value="cn=Manager,dc=maxcrc,dc=com" />
  <!--
      Non cambiare il suffisso "LDAPLoginUserAttribute_" perchè viene fatto un substring per ottenere il valore finale e distinguerlo da altri.
      IMPORTANTE: il nome dopo il suffisso deve essere uguale all'attributo in OpenLDAP o ActiveDirectory     
  -->
  <add key="LDAPLoginUserAttribute_userPassword" value="secret" /> <!-- required for connection -->

  <add key="enableLdapLibraryLog" value="1"/>
  <add key="LDAPLibraryLogPath" value="C:\Users\e.benini\Documents\Visual Studio 2012\Projects\LDAPLibrary\Log"/>
  
  
</configuration>